.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: 100;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    color: rgb(255, 255, 255);
}


.menu-icon{
    position: relative;
}

.menu{
    position: absolute;
    background-color:  rgb(24, 26, 25);
    top: 0;
    right: 0;
    height: calc(100vh - 90px);
    z-index: 5;
    width: 100%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
    color: white;
    animation: slideInFromRight 0.8s ease-in-out;
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }