.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 100;
    
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    color: rgb(114, 113, 113);
}


.menu-icon{
    position: relative;
}

.menu{
    position: absolute;
    background-color:  rgb(24, 26, 25);
    top: 65px;
    right: 0;
    height: calc(100vh - 150px);
    z-index: 5;
    width: 100%;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
    color: white;
    animation: slideInFromRight 0.8s ease-in-out;

}

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }