.experience{
    padding: 80px 10px 0px 10px;
    background-color: rgb(255, 255, 255);
    height: calc(100vh - 115px);
    color: black;
    
}

.exp3{
    animation: slideInFromRight 0.5s ease-in-out;
    

}
.exp12 {
    animation: slideInFromLeft 0.5s ease-in-out;
}


.aninamtionBottomCornerExp{
    position: absolute;
   background-color: rgb(209, 212, 212);
    border-top-right-radius: 100%;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 40%;
    z-index: 3;
}
.arrowExp{
    border: 1px solid rgb(206, 202, 202);
    padding: 5px 20px;
    /* margin-top: 25px; */
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    width: 100%;
}
.aninamtionTopCornerExp{
    position: absolute;
    background-image: url('../../assets/topCorner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 100%;
    height: 150px;
    width: 200px;
    top: 80;
    right: 0;
    z-index: 3;
}
.content{
    position: absolute;
    z-index: 8;
}
@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

